@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration-color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
}

nav {
    background-color: #DD0000;
}

.page-footer {
    background-color: #2B2C2D;
    text-align: center;
}

.card-image {
    border: solid black;
}

.row {
    margin-right: 20%;
}

table {
    width: 75%;
    border: thin solid black;
    margin-left: 10%;
    color: black;
    background-color: white;
}

tr {
    border: thin solid black;
}

header {
    background-color: #DD0000;
}

body {
    background-image: url("images/basketball.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
